@import 'node_modules/modern-normalize/modern-normalize.css';

body {
  color: rgb(18, 20, 23);
  padding-bottom: 150px;
  font-family: "Manrope";
}

:root {
  --black-color: rgb(18, 20, 23);
  --blue-color: rgb(52, 112, 255);
  --white-color: rgb(255, 255, 255);
  --grey-color: rgb(247, 247, 251);
  --blue-hover-color: rgb(11, 68, 205);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
